RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Certifique-se de que os arquivos estáticos sejam servidos corretamente
RewriteCond %{REQUEST_URI} !^/public/assets/
RewriteCond %{REQUEST_URI} !^/public/index.php
RewriteRule ^(.*)$ /public/$1 [L]

php_value date.timezone America/Bahia
